<!-- <div #mermaidTargetRef></div> -->

<div class="__grid">

  <div>
    <div class="__urls-wrap" #publicUrlsRef>
      <h5 *ngFor="let item of publicUrls">{{ item }}</h5>
    </div>
  </div>

  <div class="__project">
    <div>
      <div #coreRef class="__core-wrap">
        <h4>core service</h4>
      </div>
    </div>

    <div>
      <div class="__balancer-wrap">

        <div #balancerOneRef class="__balancer">
          <h4>routing balancer</h4>
        </div>

        <div #balancerTwoRef class="__balancer">
          <h4>routing balancer</h4>
        </div>

      </div>
    </div>

    <div>
      <div class="__public-url-wrap">
        <div
          class="__public-url"
          *ngFor="let url of publicUrls">
          <span #publicUrlRef [attr.data-url]="url">{{ url }}</span>
        </div>
      </div>
    </div>

    <div>
      <div class="__service-wrap">
        <div
          class="__service"
          #serviceRef
          [attr.data-url]="service.url"
          *ngFor="let service of services">
          {{ service.hostname }}:{{ service.port }}
          <div
            class="__container"
            *ngFor="let item of [].constructor(service.containers)">
            <h6>{{ service.type }}</h6>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
