.__grid {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 40px;
  max-width: 1400px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.__project {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 6px;
}

.__core-wrap,
.__balancer-wrap {
  // background: #eff5f2;
  padding: 10px 20px;
  margin-right: 100px;
  border: 2px dashed #3dbcb2;
  border-radius: 6px;
}

.__balancer-wrap {
  margin-right: 100px;
}

.__service-wrap {
  padding: 20px;
}

.__service {
  background: #eff6f7;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid #07c;
  border-radius: 6px;

  h6 {
    padding: 0;
    margin: 0;
  }
}

.__urls-wrap {
  text-align: right;
}

.__balancer {
  background: #fbfbfb;
  padding: 20px;
  margin: 10px 0;
}

.__public-url {
  margin: 10px 0;

  span {
    padding: 5px;
    display: inline-block;
  }
}

.__container {
  background: #fff;
  padding: 10px;
  margin: 10px 0;
}
